body {
    margin-bottom: 200px;
}
img#top {
    height: auto;
    width: 100%;
}
img#right {
    float: right;
    width: 40%;
    height: auto;
    margin-left: 30px;
    margin-right: 10%;
}
.info {
    margin-left: 10%;
}
    .alex, .benj, .ben, .savanna, .justin {
    display: none;
    background-color: beige;
    width: 30%;
    height: auto;
    position: absolute;
}
    
.alexA:hover + .alex, .alex:hover + .alex {
    display: block;
}

.benjA:hover + .benj, .benj:hover + .benj {
    display: block;
}

.benA:hover + .ben, .ben:hover + .ben {
    display: block;
}
.savannaA:hover + .savanna, .savanna:hover + .savanna {
    display: block;
}
.justina:hover + .justin, .justin:hover + .justin {
    display: block;
}

a:link {
    color:black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;

}
a:hover {
    color: black;
    text-decoration: none;

}
a:active {
    color:black;
    text-decoration: none;

}

/* commidt */
