body { 
		margin: 0; 
		padding: 0; 
		font-family: Arial, Helvetica, sans-serif; 
	} 
/*nav {
	text-align: center;
}*/
.navBar { 
		padding: 10px 0px 0px 0; 
		display: flex; 
		background: #0e8ce7;
		margin: -4px 0px 10px 0px;
		justify-content: center;
		border-top: 2px black solid;
		position: sticky;
	} 

.navBar li { 
		list-style: none; 

	} 
.navBar:nth-child(-n + 2) {
    padding: 0 50px 10px 0;
}

.navBar li a { 
		text-decoration: none; 
		font-size: 24px; 
		font-weight: 400; 
		color: black; 
		position: relative; 

	} 

.navBar li a::before { 
		content: ""; 
		width: 0px; 
		height: 10px; 
		background: #e00000; 
		position: absolute; 
		top: 100%; 
		left: 0; 
		transition: .5s; 
	} 

.navBar li a:hover::before { 
		width: 99%; 
        
		transform: translateX(1%); 
        height: 2px;
	} 

.navBar li a.active:not(:hover)::before { 
		width: 99%; 
		height: 3px;
		/*test*/
	} 
