
img {
    height: auto;
    width: 100%;
}
.spacing {
    margin-left: 10%;
    margin-right: 10%;
}

.button {
    background-color: rgb(61, 121, 199);
    box-shadow: 0 5px 0 rgb(40, 96, 201);
    color: white;
    padding: .2em .4em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
  
.episode:hover {
    background-color: #4b539c;
    box-shadow: 5px 10px rgba(0, 0, 3, 0.6);

  }
  
.episode:active {
    box-shadow: none;
    top: 5px;
    box-shadow: 2px 5px rgba(0, 0, 2, 0.6);
  }

  .episode {
    position:relative;
    background-color: skyblue;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.4);

  }
  .button { 
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
  
    z-index: 1;
  
    /* fixes overlap error in IE7/8, 
       make sure you have an empty gif */
       opacity: 0;
  }   