
img {
  height: auto;
  width: 100%;
}
.spacing {
  margin-left: 10%;
  margin-right: 10%;
}

.button {
  background-color: white;
  box-shadow: rgb(0, 58, 182);
  color: white;
  padding: .2em .4em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.episode:hover {
  background-color: rgb(225, 229, 234);
  box-shadow: 5px 10px rgb(254, 2, 17);

}

.episode:active {
  box-shadow: none;
  top: 5px;
  box-shadow: #1544FF;
}

.episode {
  position:relative;
  background-color: white;
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.4);

}
.button { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
     opacity: 0;
}   
